.buttonContainer {
    .bg-green-600 {
        background-color: #059669; /* Tailwind green-600 color */
      }
      
      .hover:bg-green-700 {
        background-color: #047857; /* Tailwind green-700 color */
      }
      
      .text-white {
        color: #ffffff; /* White text color */
      }
      
      .font-medium {
        font-weight: 500; /* Medium font weight */
      }
      
      .py-1 {
        padding-top: 0.25rem; /* 1 * 0.25rem */
        padding-bottom: 0.25rem; /* 1 * 0.25rem */
      }
      
      .px-2 {
        padding-left: 0.5rem; /* 2 * 0.25rem */
        padding-right: 0.5rem; /* 2 * 0.25rem */
      }
      
      .rounded {
        border-radius: 0.25rem; /* Rounded corners */
      }
      
  }
  